.mf-account-menu-container {
  position: relative;
  left: 50%;
}
.mf-account-menu {
  font-size: 11px;
  position: absolute;
  width: max-content;
  border: 1px solid #888;
  top: 0;
  left: 0;
  display: none;
  transform: translateX(-50%);
  .menu-header {
    text-transform: uppercase;
    font-size: 10px;
    display: flex;
    justify-content: center;
    line-height: 15px;
  }
  ul {
    list-style-type: none;
    background: white;
    padding: 18px 8px;
    margin-top: 4px;
    text-align: center;
    text-transform: uppercase;
  }
  li {
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1.5em;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.mf-account-container:hover {
  .mf-account-menu {
    display: block;
  }
}