.mf-account-avatar {
    display: flex;
    border-radius: 50%;
    border: 1px solid;
    border-color: black;
    width: 32px;
    height: 32px;
    place-items: center;
    justify-content: center;
    background-color: black;
  }
  .mf-account-avatar__content {
    font-size: 1em;
    color: white;
  }