.mf-add-to-cart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 35px;
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}